@import url("./__root.css");

.teacher-section-wrapper {
    background-color: rgb(214, 236, 255);
}

.teacher-intro {
    margin: 0 10%;
    display: block;
    text-align: center;
    width: 80%;
    bottom: -58px;
    background-color: #fffd;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 3px 3px 12px 1px #ccc;
    color: #333;
}

.teacher-intro h3 {
    margin: 10px 0;
}

.teacher-intro h3 span {
    color: var(--dark-yellow);
}

.teacher-intro a {
    text-decoration: none;
    color: var(--dark-yellow);
    border: 1px solid var(--dark-yellow);
    padding: 2px 9px;
    border-radius: 7px;
    font-size: smaller;
    transition: all .2s linear;
}

.teacher-intro a:hover {
    background-color: var(--dark-yellow);
    color: #fff;
}