@import url("./normalize.css");
@import url("./reset.css");

.container-fluid {
    width: 100%;
}

.container {
    /* as much as largest media query */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    /* padding-left: 15px;
    padding-right: 15px; */
    /* when children are "float", they didn't fill the height by default.
    the "overflow: auto;" make parent to fit its height to its children */
    overflow: visible;
    min-height: max-content;
}

/* .row {
} */

.row::after {
    /* for float elements: it makes next float object to go next line */
    content: "";
    clear: both;
    display: table;
}

[class^="col-"] {
    float: right;
    padding: 0 15px;
}

.pos-absolute {
    position: absolute;
}

.pos-relative {
    position: relative;
}

/* @media only screen and (max-width: 599px) { */
@media only screen and (min-width: 0) {
    .xs-hidden {
        display: none;
    }

    .xs-block {
        display: block;
    }

    .xs-inline {
        display: inline;
    }

    .xs-inlne-block {
        display: inline-block;
    }


    .col-xs-0 {
        width: 0;
    }

    .col-xs-1 {
        width: 8.3333%;
    }

    .col-xs-2 {
        width: 16.6667%;
    }

    .col-xs-3 {
        width: 25%;
    }

    .col-xs-4 {
        width: 33.3333%;
    }

    .col-xs-5 {
        width: 41.6667%;
    }

    .col-xs-6 {
        width: 50%;
    }

    .col-xs-7 {
        width: 58.3333%;
    }

    .col-xs-8 {
        width: 66.6667%;
    }

    .col-xs-9 {
        width: 75%;
    }

    .col-xs-10 {
        width: 83.3333%;
    }

    .col-xs-11 {
        width: 91.6667%;
    }

    .col-xs-12 {
        width: 100%;
    }

    .col-xs-offset-0 {
        margin-right: 0;
    }

    .col-xs-offset-1 {
        margin-right: 8.3333%;
    }

    .col-xs-offset-2 {
        margin-right: 16.6667%;
    }

    .col-xs-offset-3 {
        margin-right: 25%;
    }

    .col-xs-offset-4 {
        margin-right: 33.3333%;
    }

    .col-xs-offset-5 {
        margin-right: 41.6667%;
    }

    .col-xs-offset-6 {
        margin-right: 50%;
    }

    .col-xs-offset-7 {
        margin-right: 58.3333%;
    }

    .col-xs-offset-8 {
        margin-right: 66.6667%;
    }

    .col-xs-offset-9 {
        margin-right: 75%;
    }

    .col-xs-offset-10 {
        margin-right: 83.3333%;
    }

    .col-xs-offset-11 {
        margin-right: 91.6667%;
    }

    .col-xs-offset-12 {
        margin-right: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .sm-hidden {
        display: none;
    }

    .sm-block {
        display: block;
    }

    .sm-inline {
        display: inline;
    }

    .sm-inlne-block {
        display: inline-block;
    }


    .col-sm-0 {
        width: 0;
    }

    .col-sm-1 {
        width: 8.3333%;
    }

    .col-sm-2 {
        width: 16.6667%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.3333%;
    }

    .col-sm-5 {
        width: 41.6667%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.3333%;
    }

    .col-sm-8 {
        width: 66.6667%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.3333%;
    }

    .col-sm-11 {
        width: 91.6667%;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-offset-0 {
        margin-right: 0;
    }

    .col-sm-offset-1 {
        margin-right: 8.3333%;
    }

    .col-sm-offset-2 {
        margin-right: 16.6667%;
    }

    .col-sm-offset-3 {
        margin-right: 25%;
    }

    .col-sm-offset-4 {
        margin-right: 33.3333%;
    }

    .col-sm-offset-5 {
        margin-right: 41.6667%;
    }

    .col-sm-offset-6 {
        margin-right: 50%;
    }

    .col-sm-offset-7 {
        margin-right: 58.3333%;
    }

    .col-sm-offset-8 {
        margin-right: 66.6667%;
    }

    .col-sm-offset-9 {
        margin-right: 75%;
    }

    .col-sm-offset-10 {
        margin-right: 83.3333%;
    }

    .col-sm-offset-11 {
        margin-right: 91.6667%;
    }

    .col-sm-offset-12 {
        margin-right: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .md-hidden {
        display: none;
    }

    .md-block {
        display: block;
    }

    .md-inline {
        display: inline;
    }

    .md-inlne-block {
        display: inline-block;
    }


    .col-md-0 {
        width: 0;
    }

    .col-md-1 {
        width: 8.3333%;
    }

    .col-md-2 {
        width: 16.6667%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.3333%;
    }

    .col-md-5 {
        width: 41.6667%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.3333%;
    }

    .col-md-8 {
        width: 66.6667%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.3333%;
    }

    .col-md-11 {
        width: 91.6667%;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-offset-0 {
        margin-right: 0;
    }

    .col-md-offset-1 {
        margin-right: 8.3333%;
    }

    .col-md-offset-2 {
        margin-right: 16.6667%;
    }

    .col-md-offset-3 {
        margin-right: 25%;
    }

    .col-md-offset-4 {
        margin-right: 33.3333%;
    }

    .col-md-offset-5 {
        margin-right: 41.6667%;
    }

    .col-md-offset-6 {
        margin-right: 50%;
    }

    .col-md-offset-7 {
        margin-right: 58.3333%;
    }

    .col-md-offset-8 {
        margin-right: 66.6667%;
    }

    .col-md-offset-9 {
        margin-right: 75%;
    }

    .col-md-offset-10 {
        margin-right: 83.3333%;
    }

    .col-md-offset-11 {
        margin-right: 91.6667%;
    }

    .col-md-offset-12 {
        margin-right: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .lg-hidden {
        display: none;
    }

    .lg-block {
        display: block;
    }

    .lg-inline {
        display: inline;
    }

    .lg-inlne-block {
        display: inline-block;
    }


    .col-lg-0 {
        width: 0;
    }

    .col-lg-1 {
        width: 8.3333%;
    }

    .col-lg-2 {
        width: 16.6667%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.3333%;
    }

    .col-lg-5 {
        width: 41.6667%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.3333%;
    }

    .col-lg-8 {
        width: 66.6667%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.3333%;
    }

    .col-lg-11 {
        width: 91.6667%;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-offset-0 {
        margin-right: 0;
    }

    .col-lg-offset-1 {
        margin-right: 8.3333%;
    }

    .col-lg-offset-2 {
        margin-right: 16.6667%;
    }

    .col-lg-offset-3 {
        margin-right: 25%;
    }

    .col-lg-offset-4 {
        margin-right: 33.3333%;
    }

    .col-lg-offset-5 {
        margin-right: 41.6667%;
    }

    .col-lg-offset-6 {
        margin-right: 50%;
    }

    .col-lg-offset-7 {
        margin-right: 58.3333%;
    }

    .col-lg-offset-8 {
        margin-right: 66.6667%;
    }

    .col-lg-offset-9 {
        margin-right: 75%;
    }

    .col-lg-offset-10 {
        margin-right: 83.3333%;
    }

    .col-lg-offset-11 {
        margin-right: 91.6667%;
    }

    .col-lg-offset-12 {
        margin-right: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .xl-hidden {
        display: none;
    }

    .xl-block {
        display: block;
    }

    .xl-inline {
        display: inline;
    }

    .xl-inlne-block {
        display: inline-block;
    }


    .col-xl-0 {
        width: 0;
    }

    .col-xl-1 {
        width: 8.3333%;
    }

    .col-xl-2 {
        width: 16.6667%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-4 {
        width: 33.3333%;
    }

    .col-xl-5 {
        width: 41.6667%;
    }

    .col-xl-6 {
        width: 50%;
    }

    .col-xl-7 {
        width: 58.3333%;
    }

    .col-xl-8 {
        width: 66.6667%;
    }

    .col-xl-9 {
        width: 75%;
    }

    .col-xl-10 {
        width: 83.3333%;
    }

    .col-xl-11 {
        width: 91.6667%;
    }

    .col-xl-12 {
        width: 100%;
    }

    .col-xl-offset-0 {
        margin-right: 0;
    }

    .col-xl-offset-1 {
        margin-right: 8.3333%;
    }

    .col-xl-offset-2 {
        margin-right: 16.6667%;
    }

    .col-xl-offset-3 {
        margin-right: 25%;
    }

    .col-xl-offset-4 {
        margin-right: 33.3333%;
    }

    .col-xl-offset-5 {
        margin-right: 41.6667%;
    }

    .col-xl-offset-6 {
        margin-right: 50%;
    }

    .col-xl-offset-7 {
        margin-right: 58.3333%;
    }

    .col-xl-offset-8 {
        margin-right: 66.6667%;
    }

    .col-xl-offset-9 {
        margin-right: 75%;
    }

    .col-xl-offset-10 {
        margin-right: 83.3333%;
    }

    .col-xl-offset-11 {
        margin-right: 91.6667%;
    }

    .col-xl-offset-12 {
        margin-right: 100%;
    }
}

.bg-yellow {
    background-color: #f1c40f;
}

.bg-blue {
    background-color: #3498db;
}

.bg-green {
    background-color: #2ecc71;
}

.bg-red {
    background-color: #e74c3c;
}

.bg-gray {
    background-color: #7f8c8d;
}

.color-white {
    color: white;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.round {
    border-radius: 5px;
}

.pt-20 {
    padding-top: 20px;
}

.p-0 {
    padding: 0;
}

.p-10 {
    padding: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-30 {
    padding-bottom: 30px;
}

.p-20 {
    padding: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.box-shadow {
    box-shadow: 1px 2px 8px -1px #888;
}

.text-shadow {
    text-shadow: 1px 1px 4px #dfdfdf;
}