@import url("./top_contact.css");
@import url("./nav.css");
@import url("./header.css");
@import url("./course.css");
@import url("./about_us.css");
@import url("./teachers.css");
@import url("./statistics.css");
@import url("./topic.css");
@import url("./faq.css");
@import url("./footer.css");

* {
    font-family: Vazirmatn;
}

.section-title {
    text-align: center;
    padding: 10px;
}

.section-title span {
    display: inline-block;
    position: relative;
    width: max-content;
}

.section-title span::before,
.section-title span::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: orange;
}

.section-title span::before {
    right: -55px;
    top: 13px;
}

.section-title span::after {
    left: -55px;
    top: 13px;
}

.card {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.card .card-header {
    border-radius: 5px;
}

.card .card-header img {
    border-radius: 5px;
}